.Trabajos__container{
    @extend .full;
    display: flex;
    flex-direction: column;
}

.Trabajos__main{
    flex: 17;
    display: flex;
    background-color: goldenrod;
    hr{
        margin-top: 2%;
        height: 92%
    }
}

.Trabajos__opciones{
    @extend .flex-center;
    justify-content: flex-start;
    flex: 25;
    padding-top: 2rem;
    flex-direction: column;
}

.Trabajos__opcion{
    @extend .flex-center;
    height: 3rem;
    width: 80%;
    align-items: flex-start;
    background-color: black;
    color: wheat;
    margin: .5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    border-radius: 0 1rem 3rem 0;
    border-style: inset;
    &:hover{
        border-style: outset;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
$font: 'Rubik', sans-serif;
.Trabajos__desc{
    @extend .flex-center;
    justify-content: flex-start;
    flex: 75;
    h2{
        margin: 1rem;
        font-family: $font;
        text-transform: uppercase;
        font-size: 5rem;
    }
    img{
        width: 60%;
        height: 50%;
        border-radius: .5rem;
    }
    p{
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 80%;
        font-size: 1.2rem;
        text-align: center
    }
    div{
        @extend .botones;
    }
}

.detalles{
    width: 35%;
    margin: 1rem;
    margin-bottom: 0;
}

.Trabajos__half:last-child{
    margin-bottom: 2rem;
}