@media (min-width: $sizeScreen) {
    .About__container {
        @include column;
        height: 30rem;
        justify-content: flex-start;
        align-items: center;
        padding: 5rem 0 0 0;
        h3 {
            font-size: $subtitleSize;
        }
        p {
            @include conainer;
        }
    }
}
