#root {
    .Routers {
        .Home__container {
            @include column;
            background-color: $color01;
            color: white;
        }
        h3 {
            text-align: center;
            font-family: 'Noto Sans', sans-serif;
        }
    }
}

@media (min-width: $size1) {
    h3 {
        font-family: 'Noto Sans', sans-serif;
    }
}

@media (min-width: 600px) {
    h3 {
        font-family: 'Noto Sans', sans-serif;
    }
}

