@media(min-width: 320px){
    .Portafolio__container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rebeccapurple;
        .Portafolio__desktop{
            flex: 2;
            background: url("../../../img/desktop.png");
        }
        .Portafolio__web{
            flex: 2;
            background: url("../../../img/web.jpg");
        }
        
        .Portafolio__mobile{
            flex: 2;
            background: url("../../../img/mobile.jpg")
        }
        .Portafolio__content{
            font-size: 3.5rem;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            h3{
                @include center;
                height: 100%;
                width: 100%;
                transition: .5s ease;
            }
        }
    }
    a {
        text-decoration: none;
    }
}