@media (min-width: 1024px){
    @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap");

    $font:'Fira Sans', sans-serif;
    $alto: 6rem;

    .NavBar{
        @include center;
        height: $alto;
        background-color: black;
        ul{
            @include row;
            @include center;
            justify-content: space-around;
            width: 100%;
            height: $alto;
            a{
                background-color: black;
                color: wheat;
                text-decoration: none;
                padding: 1.2rem;
                width: 10rem;
                text-align: center;
                border-radius: 0 0 1rem 1rem;
                list-style: none;
                font-family: $font;
                font-size: 1.5rem;
                margin: .5rem;
                border-style: inset;
                &:hover{
                    border-style: outset;
                    max-width: 10rem;
                }
            }
        }
    }
}