@media(min-width: 1024px){
    .Portafolio__container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rebeccapurple;
        .Portafolio__desktop{
            flex: 2;
            background: url("https://upload.wikimedia.org/wikipedia/commons/5/59/Basic_desktop_computer_system.svg");
        }
        .Portafolio__web{
            flex: 2;
            background: url("https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg");
        }
        
        .Portafolio__mobile{
            flex: 2;
            background: url("https://cdn.pixabay.com/photo/2020/07/09/17/46/mobile-phone-5388160_1280.jpg")
        }
        .Portafolio__content{
            font-size: 3.5rem;
            color: white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            h3{
                @include center;
                height: 100%;
                width: 100%;
                background-color: rgba($color: #5c5c5c, $alpha: .8);
                transition: .5s ease;
            }
        }
        a:hover{
            flex: 4;
            & h3{
                font-size: 7rem;
                background-color: rgba($color: #5c5c5c, $alpha: 0);
            }
            // Solucionar error que no aplica el siquiente estilo a las anclas de la derecha
            + .Portafolio__actual{
                flex: 2;
                & h3{
                    font-size: 3.5rem;
                    background-color: rgba($color: #5c5c5c, $alpha: .8);
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
}