/* Variables para SASS */
$primary: #eef2f7;
$secondary: #1e3c5a;
$tertiary: #212121;
$color: #eef2f7;

$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$max-width: 100vw;

$navWidth: 20;

$sizeScreen: 0px;
$size1: 414px;
$size2: 820px;
$size3: 1200px;

$color01: black;
$color02: #201f1f;
$color03: #383636;

$subtitleSize: 4.5rem;

$title1: 2rem;
$title2: 4rem;
$title3: 5rem;

$subTitle: 1.5rem;
$subTitle2: 2.5rem;
$subTitle3: 2.5rem;

$text1: 0.8rem;
$text2: 1.1rem;
