/* Variables para SASS */
$primary: #eef2f7;
$secondary: #1e3c5a;
$tertiary: #212121;
$color: #eef2f7;

$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$max-width: 100vw;

$navWidth: 20;

$sizeScreen: 1600px;

$color01: black;
$color02: #201f1f;
$color03: #383636;

$subtitleSize: 5rem;
